.main_1-info {
    height: 100%;
    gap: 1em;
    padding: 0 1em;
}

.main_1-name {
    margin: 0;
    text-align: center;
}

.main_1-social-links {
    justify-content: space-between;
}

.main_1-social-link {
    align-items: center;
    padding: 0.3em 0.5em;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 0.5em;
}

.main_1-detail {
    box-sizing: border-box;
    padding: 1em;
    border-radius: var(--card-padding);
    color: hsl(0, 0%, 10%);
    background: hsl(0, 0%, 90%);
}
